stages:
  - build
  - summary

.default:
  tags:
    - ci
  image: registry.gitlab.com/szymonrychu/containers/builder:0.0.1

{%- for chart in charts %}
{{ chart.name }}:
  stage: build
  extends: .default
{%- if action == 'build' %}
  script:
    - |
        VERSION="$(helm show chart {{ chart.root_path }} | grep version | awk '{print $2}')"
        helm package --dependency-update {{ chart.root_path }}
    - |
        curl --request POST \
          --form "chart=@{{ chart.name }}-${VERSION}.tgz" \
          --user "${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}" \
          "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/stable/charts"
{%- else %}
  script:
    - |
        helm lint {{ chart.root_path }}
{%- endif %}
  rules:
    - changes:
        - .parse.py
        - .sub.gitlab-ci.yml.j2
        - {{ chart.root_path }}/**

{% endfor -%}

success:
  stage: summary
  extends: .default
  rules:
    - when: always
  variables:
    KUBERNETES_CPU_REQUEST: '0.1'
    KUBERNETES_MEMORY_REQUEST: 128M
    KUBERNETES_CPU_LIMITS: '0.1'
    KUBERNETES_MEMORY_LIMITS: 128M
  script:
    - echo "success!"
